@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
	margin:0;
	padding:0;
	color:#212121;
	font-family: 'Noto Sans KR';
}

/* carousel 크기 및 패딩값 */
#main-carousel{
	margin-top:3px;
	width:100%;
	height:700px;
}

/* carousel 상위 컨테이너*/
.carousel_top{
	position: relative;
}

/**/
.carousel_top .text{
position:absolute;
top : 50%;
left : 50%;
transform: translate(-50%, -50%);
font-size:2.6em;
font-weight: 700;
color:white;
text-shadow:4px 3px 4px black;
text-align: center;
}



/* 메인 넓이(컨테이너)*/
#main-width{
	width:1200px;
	margin:0 auto;
}

/*메뉴 설명 스타일*/
#menuinfo{
	width:1200px;
	height:200px;
	margin:0 auto;
	text-align:center;
	display: table-cell;
	vertical-align: middle;
	font-size: 30px;
	font-weight: 600;
}
/* header 스타일 */
#header{
	height:100px;
	width:1100px;
	margin:0 auto;
}

#header img {
	max-height: 100%;
	float:left;
}
#header .header-menu{
	float : right;
}

#header .header-menu li {
	list-style:none;
	float:left;
	line-height: 100px;
}

#header .header-menu ul>li::after{
 padding-right:7px;
 padding-left:7px;
 content: "|";
  float: right;
  color:#636466;
  font-size: 14px;
  
}
#header .header-menu ul>li:last-child::after{
	content:none;
}

#header .header-menu li a{
	padding:10px 15px;
	color : #636466;
	font-size: 15px;
	text-decoration: none;
}
/* header 스타일 끝 */

/*menu(학원안내, 과정안내, 수강안내 ....) 스타일*/
#menu a{
	text-decoration:none;
	color:white;
}

#menu li{
	list-style:none;
}

#menu{ /* 메뉴바 전체 색상, 높이*/
	background: #0d82eb;
	height:55px;
}

#menu ul{ /* 메뉴바 사이즈*/
	width:1200px;
	margin:0 auto;	
}

#menu .menu-main>li { /*메뉴바*/
	z-index:1;
	font-size:18px;
	float : left;
	width: 20%;
	height:100%;
	line-height:55px;
	text-align:center;
	background: #0d82eb;
	position:relative;
}

#menu .menu-main>li a{
	display:block;
}

#menu .menu-main>li:hover .sub{
	display:block;
}

#menu .menu-main>li a:hover{ /*main il 클릭시 디자인*/
	background: #0d82eb;
	color:white;
}

#menu .menu-main .sub{
	position: absolute;
	top:55px;
	left:0;
	width: 100%;
	display: none;
}

#menu .menu-main .sub li{ /* 드롭다운 메뉴 */
	background:#0d82eb;
	font-size:16px;
}

#menu .menu-main .sub li a:hover{
	background:#1f90f5;
	font-weight: 600;
	text-decoration: underline;
}
/*menu(학원안내, 과정안내, 수강안내 ....) 스타일 끝*/

/*footer 스타일*/


